/* ЗАГОЛОВКИ (Аналог Cinzel, поміняв шрифт тому що шрифти в варіанті не підтримували Українську) */
h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase; 
    letter-spacing: 1px;
    color: #5B21B6; 
    text-align: center;
}

/* ОСНОВНИЙ ТЕКСТ (Аналог Fauna One) */
body {
    font-family: 'Lora', serif;
    line-height: 1.6;
}

.main-menu a {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: #5B21B6;
    font-weight: bold;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
    border: 1px solid #5B21B6;
    padding: 10px;
}

table tbody tr:nth-child(even) {
    background-color: #F5F3FF;
}

.no-bullets {
    list-style-type: none; 
    padding-left: 0;       
    margin-left: 0;        
}

.image-container {
    text-align: center; 
    margin-top: 20px;    
    margin-bottom: 20px; 
}

.image-container img {
    height: auto;        
    max-width: 100%;    
}

.info-section {
    text-align: center; 
    margin-bottom: 30px;
}

.subtitle {
    font-size: 1.2em;    
    font-weight: bold;  
    margin: 5px 0;      
}